/*{
  outline: 1px solid red;
}*/

/* MAIN STYLE  */

body {
    margin: 0;
    background-color: #fafafa;
    
  }

  p {
    color: #424242;
    font-family: Helvetica, sans-serif;
    font-size: 14px;  
  }

  h1 {
    color: #424242;
    font-family: 'Alex Brush', cursive;
    font-size: 62px;  
    font-weight: lighter;
  }

  h2 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
    color: #424242;
  }

  h3 {
    color: #424242;
    font-family: Helvetica, sans-serif;
    font-size: 14px; 
    font-weight:lighter; 
  }


/* OPENING */
.opening{
    margin-top:60px;
    align-content: center;
    text-align: center;
    line-height: 10px;
    margin-bottom: 15px;
}

/* NAVIGATION BAR STYLE  */
.topnav {
  overflow: hidden;
  background-color: #fafafa;
  border-top-style: solid;
  border-width: 2px;
  border-color:#d0d0d0;
}

.topnav a {
  font-family: Helvetica, sans-serif;
  float: left;
  margin:  auto;
  color: #424242;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: rgb(234, 234, 234);
  color: #424242;
}



/* LANGUAGE SELECTION MENU */
#language-select {
  /* Change styling of the menu */
  float: right; /* to move the selection option to the right */
  padding: 14px 16px;
  font-size: 14px;
  border-style: none;
  background-color: #fafafa;
  outline: none;
  text-align: center;
}

#language-select option {
  font-size: 14px;
  color: #424242;
  background-color: #fafafa;
  padding: 10px 12px;
  text-align: left;
}

  /* DIGITAL CLOCKS */
  .clocks{
    margin: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  section.times div{
  padding: 10px;
  display: inline-block;
  justify-content: space-between; 
}

  /* BLOG POST */

.wrapper{
    margin-top: 0px;
    text-align: center;
    background-color: #fafafa;
  }
  
  .content{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .content .post{
    width: 333px;
    margin: 5px;
    background: #fafafa;
    padding: 20px 10px;
    border-style: solid;
    border-width: 2px;
    border-color:#d0d0d0;
  }
  
  .content .post .post_img{
    width: 333px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    position: relative;
  }
  
  .content .post .post_img img{
    width: 100%;
    height: 100%;
  }
  
  .content .post h3{
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    margin: 15px 0 0px;
  }
  
  .content .post span{
    font-size: 12px;
  }
  
  .content .post p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    text-justify: inter-word;
  }


  /* LANGUAGE SELECTION FOR BLOG POSTS */
  p.EN {
    display: block;
  }
  
  p.NL {
    display: none;
  }
  
  body[data-language="nl"] p.EN {
    display: none;
  }
  
  body[data-language="nl"] p.NL {
    display: block;
  }
  